.block {
    max-width: 315px;
    float: left;
    margin: 0%;
}

.links:hover {
    cursor: pointer;
}
/*----------------------*/

body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    shape-rendering: geometricPrecision;
}
@media (max-width: 650){
    .block{
        float: left;
        margin: 0%;
    }
}