.block{
	max-width: 315px;
	float: left;
	margin: 0%;
}
.links:hover{
	cursor: pointer;
}

/*----------------------*/

body {
	font-family: Arial;
    font: 5px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    shape-rendering: geometricPrecision;
}